@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.MuiTableCell-root {
  padding: 5px !important;
}
.MuiBox-root-20 {
  display: flex !important;
}
.header-logo > div {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  margin: auto;
  color: #fcb316;
}
.header-logo > div > span {
  font-weight: normal;
  color: #3d3d3d;
}
.text-align-left {
  text-align: right !important;
}
.email-seprater-text {
  padding-top: 20px;
}
.header-logo {
  display: inline-flex;
}
.header-cont {
  text-align: center !important;
  margin: 20px 0px;
}
.lang-label,
.header-lang-text {
  font-size: 16px !important;
  color: #000 !important;
  cursor: pointer;
}
.MuiIconButton-root:hover {
  background: transparent !important;
}
.header-error {
  background-color: #fff;
  padding: 30px !important;
}
.error-cont svg {
  float: right !important;
}
.error-cont {
  padding: 10px;
  border: 1px solid red;
  color: red;
}
.lang-menu {
  display: contents;
}
.MuiPopover-paper .MuiGrid-spacing-xs-4 {
  width: calc(100% + 40px) !important;
}
@media (max-width: 767px) {
  .MuiGrid-grid-md-6,
  .MuiGrid-grid-md-12 {
    width: 100% !important;
  }
  .studyInfo {
    max-width: 180px !important;
  }
  .header-logo > div {
    font-size: 18px;
  }
}
.back-button-payments {
  float: right;
  margin: 10px;
}
@media (max-width: 450px) {
  .header-logo > div {
    font-size: 15px;
  }
  .header-logo > div > span {
    font-size: 14px;
  }
  .header-logo > img {
    width: 50px;
    height: 50px;
  }
  .header-lang-text {
    display: none;
  }
}
.main-container .MuiButton-containedPrimary {
  float: right;
  margin: 10px;
}
