:root {
    --color-primary: #1B2430;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-blue: #3376D6;
    --color-light-blue: #3376D624;
    --color-orange: #F36518;
    --color-green: #0D9D0D;
    --color-grey: #5A5A5A;
    --color-red: #FF0404;
  }