.content-wrapper {
    width: calc(100% - 260px);
}

.ud-back-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.ud-back-btn span {
    font-size: 19px;
    font-weight: 600;
    color: #1B2430;
}

.ud-label-wrapper {
    margin: 40px 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.ud-label {
    font-size: 22px;
    line-height: 26px;
    font-weight: 600;
    background-color: #f2f2f2;
    z-index: 2;
    padding: 0 20px;
}

.ud-label-mark {
    width: 100%;
    height: 1px;
    position: absolute;
    background: rgba(224, 224, 224, 1);
    z-index: 1;
}

.ud-tables-row {
    display: flex;
    justify-content: space-between;
}

.ud-table {
    width: 49%;
}

.ud-table th {
    display: none;
}

.MuiTable-root tbody tr:hover {
    cursor: pointer;
}

.ud-button-group {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.ud-button-group .ud-button {
    background-color: #1B2430;
    color: #ffff;
    padding: 14px 25px;
}

.ud-button-group .ud-button:hover {
    background-color: #5b616a;
}

@media (max-width: 767px) {
    .ud-button-group {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .ud-button-group .ud-button {
        margin-bottom: 10px;
        width: fit-content;
    }

    .ud-tables-row {
        flex-direction: column;
    }

    .ud-table {
        width: 100%;
    }
}